/*  
Theme Name: customprojectname
Theme URI: http://oravaasuntorahasto.fi/
Description: Custom-theme for customprojectname
Version: 1.0.0
Author: Petri Pottonen
Author URI: petripottonen.com
Template: dms
*/
/*This is a child-theme style.css to add and override styles from the DMS framework (parent theme). DMS uses Less but here we use Scss + Bourbon.*/
/*------------------------------------*\
    IMPORTS
\*------------------------------------*/
/*------------------------------------*\
    HTML5 Boilerplate
\*------------------------------------*/
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.invisible {
  visibility: hidden; }

/*------------------------------------*\
    Align a block in center and middle http://frontendbabel.info/articles/css-tricks-by-wargaming/
\*------------------------------------*/
.center-container {
  position: relative;
  height: 600px;
  background: green; }
  .center-container > * {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

/*------------------------------------*\
    Cut off long lines with ellipsis
\*------------------------------------*/
.ellipsis-cut {
  white-space: nowrap;
  /* No line breaks */
  overflow: hidden;
  /* Hide text which does not fit the block */
  text-overflow: ellipsis;
  /* Cut off with ellipsis */
  display: block;
  /* Works only for block elements */ }

.containeri {
  width: 300px;
  height: 20px; }

/* #site,
label,
input,
input[type="submit"],
button,
select,
textarea,
.btn,
#site h1,
#site h2,
#site h3,
#site h4,
#site h5,
#site h6,
.modal h1,
.modal h2,
.modal h3,
.modal h4,
.modal h5,
.modal h6,
.modal {
	font-family: "proxima-nova";
} */
body {
  -webkit-font-smoothing: antialiased; }

/*------------------------------------*\
    NAVI-TEMPLATE
\*------------------------------------*/
/*------------------------------------*\
    MOBILE NAV TEMPLATE
\*------------------------------------*/
/* body ul.inline-list {
	@media (max-width: 1000px) {
		&.respond{
			.menu-toggle{
				display: block;
			}
			
			.menu-item{
				display: none;
			}
		}
	}
} */
body .pl-mobile-menu {
  box-shadow: -260px 0 0 transparent, -520px 0 0 transparent, -780px 0 0 transparent, -1040px 0 0 transparent, -1300px 0 0 transparent; }
  body .pl-mobile-menu.show-menu {
    box-shadow: -260px 0 0 rgba(0, 0, 0, 0.7), -520px 0 0 rgba(0, 0, 0, 0.7), -780px 0 0 rgba(0, 0, 0, 0.7), -1040px 0 0 rgba(0, 0, 0, 0.7), -1300px 0 0 rgba(0, 0, 0, 0.7); }

/*------------------------------------*\
    USEFUL STUFF
\*------------------------------------*/
.breaklong {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: normal; }

.image-left .hentry {
  text-align: left !important; }

#site {
  background: blue; }
