// Grid of client logos http://unmatchedstyle.com/news/building-a-client-logo-grid-with-centered-elements.php

$rwdImage-width:140px; //width of single image box (size of the img inside this can be adjusted)
$rwdImageGrid-width:(8*$rwdImage-width); // grid width is determined by the number of images displayed horizontally on one line
.rwd-image-grid-container{text-align: center;}  //center the grid of images
.rwd-image-grid{
	display: inline-block; // inline-block so the containers width is determined by width of it's containing image-boxes and thus can be centered
	width: $rwdImageGrid-width; 
	@media(max-width: $rwdImageGrid-width){ //when width of screen get smaller than what's needed to display (8) images, we'll bisect the width of image-grid and show (4) images per line
		width: ($rwdImageGrid-width / 2);
	}
	@media(max-width: ($rwdImageGrid-width / 2)){ // when width of screen is less than half we'll again bisect it's widtg
		width: ($rwdImageGrid-width / 4);
	}
}

.rwd-image {
	float: left;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: $rwdImage-width;
	height: 70px;
	//margin-right: 15px;
	//margin-bottom: 15px;
	span {
		display: inline-block;
		height: 100%;
		width: 1px;
	}
	* {

		vertical-align: middle;
	}
	img{
		border:none; // IE8 inserts borders if img is inside <a>
		width: 100px; // size of the actual img inside the .rwd-image - div can be adjusted here
		// &.wordpress{width:166px;}
		 &.virgin{width: 70px;}
		// &.unionfive{width: 140px;}
		 &.gyft{width:60px;}
		 &.newegg{width:70px;}
		// &.namecheap{width:160px;}
		// &.shopify{width:126px;}
		 &.tigerdirect{width:70px;}

		// use border-box and padding if you want e.g. "zooming" hover effect like in netprofile.fi
		//@include box-sizing (border-box);
		//padding: 0;
	}
}