/*  
Theme Name: webdesignhelsinki
Theme URI: http://webdesignhelsinki.fi/
Description: Custom-theme for webdesignhelsinki
Version: 1.0.0
Author: Petri Pottonen
Author URI: petripottonen.com
Template: dms
*/

/*This is a child-theme style.css to add and override styles from the DMS framework (parent theme). DMS uses Less but here we use Scss + Bourbon.*/


/*------------------------------------*\
    IMPORTS
\*------------------------------------*/

@import "bourbon";
@import "variables";
@import "base"; //Useful additional styles for DMS

$mainColor: #21CA80;


body{
	font-size: 17px;
}

.first-slide{
	 //@include linear-gradient(90deg, #00c6ff 10%, #0072ff 90%);  
	background: $mainColor;

	color:#fff;
	 img{
	 	padding: 10px;
	 	padding-bottom: 0;
	 	@include box-sizing(border-box);
	 }

	 .header-lead p{
	 	font-weight: 300;
	 	font-size: 22px;
	 	line-height: 1.4;
	 	//margin-top: 10px;
	 	padding:0 10px 10px 10px;
	 }
}

#pl_areauti2by9{
	color: #FFF;
		background: $mainColor;
}

section.wordpress{
	background:#E6E6E6;
}
.tarjous{
	font-size:20px;
	line-height: 1.4;
	border:2px solid $mainColor;
	border-radius: 6px;
	color: $mainColor;
	margin-top:30px;
	margin-bottom: 40px !important ;
}

// contact form
.half{
	width: 50%;
	float: left;
	&.second{
		input{display: block;
		width: 100%;}
	}
}

p.submitti{
	input.wpcf7-submit{
		width: 100%;
		background: #FFF;
		border:2px solid $mainColor;
		font-weight: 600;
		text-transform: uppercase;
		color: $mainColor;
		border-radius: 6px;
		@include box-sizing(border-box);
		padding: 10px 9px;
		&:hover{
			background: $mainColor;
			color:#FFF;
		}
	}
}