/*  
Theme Name: webdesignhelsinki
Theme URI: http://webdesignhelsinki.fi/
Description: Custom-theme for webdesignhelsinki
Version: 1.0.0
Author: Petri Pottonen
Author URI: petripottonen.com
Template: dms
*/
/*This is a child-theme style.css to add and override styles from the DMS framework (parent theme). DMS uses Less but here we use Scss + Bourbon.*/
/*------------------------------------*\
    IMPORTS
\*------------------------------------*/
/*------------------------------------*\
    HTML5 Boilerplate
\*------------------------------------*/
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.invisible {
  visibility: hidden; }

/*------------------------------------*\
    Align a block in center and middle http://frontendbabel.info/articles/css-tricks-by-wargaming/
\*------------------------------------*/
.center-container {
  position: relative;
  height: 600px;
  background: green; }
  .center-container > * {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

/*------------------------------------*\
    Cut off long lines with ellipsis
\*------------------------------------*/
.ellipsis-cut {
  white-space: nowrap;
  /* No line breaks */
  overflow: hidden;
  /* Hide text which does not fit the block */
  text-overflow: ellipsis;
  /* Cut off with ellipsis */
  display: block;
  /* Works only for block elements */ }

.containeri {
  width: 300px;
  height: 20px; }

/* #site,
label,
input,
input[type="submit"],
button,
select,
textarea,
.btn,
#site h1,
#site h2,
#site h3,
#site h4,
#site h5,
#site h6,
.modal h1,
.modal h2,
.modal h3,
.modal h4,
.modal h5,
.modal h6,
.modal {
	font-family: "proxima-nova";
} */
body {
  -webkit-font-smoothing: antialiased; }

/*------------------------------------*\
    NAVI-TEMPLATE
\*------------------------------------*/
/*------------------------------------*\
    MOBILE NAV TEMPLATE
\*------------------------------------*/
/* body ul.inline-list {
	@media (max-width: 1000px) {
		&.respond{
			.menu-toggle{
				display: block;
			}
			
			.menu-item{
				display: none;
			}
		}
	}
} */
body .pl-mobile-menu {
  box-shadow: -260px 0 0 transparent, -520px 0 0 transparent, -780px 0 0 transparent, -1040px 0 0 transparent, -1300px 0 0 transparent; }
  body .pl-mobile-menu.show-menu {
    box-shadow: -260px 0 0 rgba(0, 0, 0, 0.7), -520px 0 0 rgba(0, 0, 0, 0.7), -780px 0 0 rgba(0, 0, 0, 0.7), -1040px 0 0 rgba(0, 0, 0, 0.7), -1300px 0 0 rgba(0, 0, 0, 0.7); }

/*------------------------------------*\
    USEFUL STUFF
\*------------------------------------*/
.breaklong {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: normal; }

.image-left .hentry {
  text-align: left !important; }

body {
  font-size: 17px; }

.first-slide {
  background: #21CA80;
  color: #fff; }
  .first-slide img {
    padding: 10px;
    padding-bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .first-slide .header-lead p {
    font-weight: 300;
    font-size: 22px;
    line-height: 1.4;
    padding: 0 10px 10px 10px; }

#pl_areauti2by9 {
  color: #FFF;
  background: #21CA80; }

section.wordpress {
  background: #E6E6E6; }

.tarjous {
  font-size: 20px;
  line-height: 1.4;
  border: 2px solid #21CA80;
  border-radius: 6px;
  color: #21CA80;
  margin-top: 30px;
  margin-bottom: 40px !important; }

.half {
  width: 50%;
  float: left; }
  .half.second input {
    display: block;
    width: 100%; }

p.submitti input.wpcf7-submit {
  width: 100%;
  background: #FFF;
  border: 2px solid #21CA80;
  font-weight: 600;
  text-transform: uppercase;
  color: #21CA80;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 9px; }
  p.submitti input.wpcf7-submit:hover {
    background: #21CA80;
    color: #FFF; }
